Lab_1/videos/
Lab_1/texts/*
!Lab_1/texts/171.txt

Lab_3/images_lab
Lab_3/secuencia_plaza
Proyecto_1/EDA_25-10-2023/summary.txt
Proyecto_1/EDA_25-10-2023/plots/density_plot_num_for_test.pdf
Proyecto_1/EDA_25-10-2023/plots/density_plot_Sport.pdf
Proyecto_1/EDA_25-10-2023/plots/density_plot_Year.pdf
Proyecto_1/density_plot_Year.pdf
Proyecto_1/EDA_05-11-2023/plots/corr.pdf
Proyecto_1/EDA_05-11-2023/plots/cramer_v.pdf
Proyecto_1/EDA_05-11-2023/plots/NOC.pdf
Proyecto_1/EDA_05-11-2023/plots/num_for_test.pdf
Proyecto_1/EDA_05-11-2023/plots/Sport.pdf
Proyecto_1/EDA_05-11-2023/plots/Team.pdf
Proyecto_1/EDA_05-11-2023/plots/Year.pdf
EDA
chamuyo.md
